<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC44FbFgobB_k9FQeJTLoAci-vtPfsZbMA</string>
	<key>GCM_SENDER_ID</key>
	<string>325461034804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fixitzed.fixer</string>
	<key>PROJECT_ID</key>
	<string>fixitzed-app-37b67</string>
	<key>STORAGE_BUCKET</key>
	<string>fixitzed-app-37b67.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325461034804:ios:612b367021f2bedffcc761</string>
</dict>
</plist>